:root {
    --clr-primary: #010203;
    --clr-primary-sub: #0e1822;
    --clr-primary-heavy: #000000;
    --clr-secondary: #FEFFFE;
    --clr-secondary-sub: #b1b1b1;
    --clr-accent: #03e9f4;
    --clr-neutral-valid: #0CF574;
    --clr-neutral-invalid: #EF233C;

    --ff-primary: 'Poppins', sans-serif;

    --fz-loading-screen: clamp(100px, 15vw, 150px);
    --fz-loading-para: clamp(10px, 4vw, 14px);
    --fz-para: clamp(12px, 5vw, 25px);
    --fz-heading-1: clamp(25px, 7vw, 80px);

    --fz-multiplier: 3;
}



/* INITIAL STYLES */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary);
}
html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar {
    display: none;
  }



/* GLOBAL STYLING */
a {
    color: var(--clr-secondary);
    text-decoration: none;
    transition: 500ms;
}
a:hover{
    color: var(--clr-accent);
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    /* Shake Animation for Javascript validation */
    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
  


/* PAGE LOADER */
.page__loader {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    gap: 220px;
    justify-content: flex-end;
    padding: 0 3vw;
    background-color: var(--clr-primary);
    padding-bottom: 50px;
    transform: none;
    transition: transform 1000ms ease-in-out;
    overflow: hidden;
}
.page__loader > div:nth-child(1) {
    gap: calc(var(--fz-loading-screen) / var(--fz-multiplier));
}
span.loader__heading {
    font-size: var(--fz-loading-screen);
    line-height: var(--fz-loading-screen);
    font-weight: 700;
    opacity: 0;
    color: var(--clr-secondary-sub);
    display: inline-block;
    transform: translate(0, 50px) rotate(10deg);
    animation-name: load;
    animation-duration: 5000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.loader-1 {
    animation-delay: 0ms;
}
.loader-2 {
    animation-delay: 100ms;
}
.loader-3 {
    animation-delay: 200ms;
}
.loader-4 {
    animation-delay: 300ms;
}
.loader-5 {
    animation-delay: 400ms;
}
.loader-6 {
    animation-delay: 500ms;
}
.loader-7 {
    animation-delay: 600ms;
}
.loader-8 {
    animation-delay: 700ms;
}
.loader-9 {
    animation-delay: 800ms;
}
@keyframes load {
    0% {
        opacity: 0;
        color: var(--clr-secondary-sub);
        transform: translate(0, 50px) rotate(10deg);
    }
    10% {
        opacity: 0.1;
        color: var(--clr-secondary-sub);
        transform: translate(0, 0) rotate(0deg);
    }
    40% {
        opacity: 1;
        color: var(--clr-secondary);
        transform: translate(0, 0) rotate(0deg);
    }
    80% {
        opacity: 1;
        color: var(--clr-secondary);
        transform: translate(0, 0) rotate(0deg);
        font-size: var(--fz-loading-screen);
    }
    100% {
        opacity: 1;
        color: var(--clr-accent);
        transform: translate(0, -120px) rotate(0deg);
        font-size: calc(var(--fz-loading-screen) / var(--fz-multiplier));
    }
}
.page__loader > div:nth-child(2) .flex-row {
    justify-content: space-between;
    width: 90vw;
    margin-bottom: 30px;
}
.page__loader > div:nth-child(2) {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 4500ms;
}
@keyframes fade-in {
    100% {
        opacity: 1;
    }
}
.page__loader p {
    font-size: var(--fz-loading-para);
    color: var(--clr-secondary-sub);
    text-align: center;
}
.loader__form {
    width: clamp(250px, 90vw, 400px);
    height: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-primary-sub);
    padding: 30px 40px 20px 40px;
    box-shadow: 0 15px 25px var(--clr-primary);
    border-radius: 10px;
    opacity: 0;
    animation-name: appear;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 4500ms;
}
@keyframes appear {
    0% {
        opacity: 0;
        height: 0px;
    }
    100% {
        opacity: 1;
        height: 200px;
    }
}
.loader__form form {
    position: relative;
    width: 100%;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 5000ms;
}
.loader__form input {
    width: 100%;
    padding: 10px 0;
    font-size: var(--fz-loading-para);
    color: var(--clr-secondary-sub);
    border: none;
    border-bottom: 1px solid var(--clr-secondary);
    outline: none;
    background: transparent;
}
.loader__form label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: var(--fz-loading-para);
    color: var(--clr-secondary);
    pointer-events: none;
    transition: .5s;
    animation: none;
}
.loader__form input:focus ~ label,
.loader__form input:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--clr-accent);
    font-size: calc(var(--fz-loading-para) - 3px);
}
.loader__form form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--clr-accent);
    font-size: var(--fz-loading-para);
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
.loader__form a:hover {
    background: var(--clr-accent);
    color: var(--clr-secondary);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--clr-accent),
                0 0 25px var(--clr-accent),
                0 0 50px var(--clr-accent),
                0 0 100px var(--clr-accent);
} 
.loader__form a span {
    position: absolute;
    display: block;
}
.loader__form a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--clr-accent));
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
} 
.loader__form a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--clr-accent));
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}
@keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
}
.loader__form a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--clr-accent));
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}
@keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
} 
.loader__form a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--clr-accent));
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}
@keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
}
.loader-logo {
    position: absolute;
    width: 100px;
    top: 5%;
    left: 5%;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1000ms;
    animation-delay: 4500ms;
    animation-fill-mode: forwards;
}
@media only screen and (max-width: 1024px) {
    span.loader__heading {
        --fz-multiplier: 1.5;
        --fz-loading-screen: clamp(40px, 10vw, 150px);
    }
}
@media only screen and (max-width: 425px) {
    span.loader__heading {
        --fz-multiplier: 1.5;
        --fz-loading-screen: clamp(40px, 10vw, 80px);
    }
    .page__loader > div:nth-child(2) .flex-row {
        flex-direction: column;
        justify-content: center;
    }
    .loader-logo {
        width: 75px;
    }
}



/* MAIN WRAPPER */
/* Hero Section */
.main__wrapper {

    opacity: 0;
    display: none;
    transition: opacity 1000ms ease-in;

    /* opacity: 1;
    display: block; */

    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    background-image: url("../images/mountains-3.jpg");
    background-color: var(--clr-primary);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}
/* width */
.main__wrapper::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  .main__wrapper::-webkit-scrollbar-track {
    background: var(--clr-primary);
  }
  /* Handle */
  .main__wrapper::-webkit-scrollbar-thumb {
    background: var(--clr-accent);
    background: linear-gradient(180deg, rgba(3,233,244,1) 0%, rgba(170,0,175,1) 100%);
    border-radius: 10px;
  }
.hero-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
.bg-parallax-top,
.bg-parallax-bot {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}
.bg-parallax-bot {
    transform: translateZ(-10px) scale(2.1);
    box-shadow: #000000;
}
.bg-parallax-top {
    transform: translateZ(0px) scale(1.01);
}
h1 {
    font-size: var(--fz-heading-1);
    text-transform: uppercase;
    color: var(--clr-accent);
    margin-bottom: 20vh;
    text-shadow: 0 0 50px var(--clr-accent),
    0 0 25px var(--clr-accent),
    0 0 50px var(--clr-accent),
    0 0 100px var(--clr-accent);
    letter-spacing: calc(var(--fz-heading-1) / 9);
    transform: translateZ(-5px) scale(1.51);
}
.hero-section p {
    font-size: var(--fz-loading-para);
    color: var(--clr-secondary);
    text-shadow: 0 0 5px var(--clr-primary);
    padding: 1.5rem;
    margin-bottom: 5px;
    z-index: 2;
}
.hero-section a {
    border: 1px solid var(--clr-accent);
    padding: 10px 30px;
    margin-bottom: 100px;
    border-radius: 15px;
    font-size: var(--fz-loading-para);
    letter-spacing: calc(var(--fz-loading-para) / 2);
    color: var(--clr-accent);
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 2;
}
.hero-section a:hover {
    background: var(--clr-accent);
    color: var(--clr-secondary);
    box-shadow: 0 0 5px var(--clr-accent),
                0 0 25px var(--clr-accent),
                0 0 50px var(--clr-accent),
                0 0 100px var(--clr-accent);
} 

/* About Section */
.about-section {
    background-color: var(--clr-primary-heavy);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-section article {
    max-width: 1024px;
    padding: 3rem;
    margin: 100px 2rem -300px 2rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: 0 0 15px 0px var(--clr-accent);
}
.about-section h2 {
    font-size: calc(var(--fz-para) * 1.3);
    color: var(--clr-accent);
    margin-bottom: 20px;
}
.about-section p {
    font-size: var(--fz-para);
    color: var(--clr-secondary-sub);
}

/* Shape divider */
.custom-shape-divider-top-1668931134 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-top-1668931134 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}
.custom-shape-divider-top-1668931134 .shape-fill {
    fill: #000000;
}

/* Content Section */
.content {
    position: relative;
    min-height: 1000px;
    background: var(--clr-primary-sub);
}

/* Footer Section */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 5vw;
    color: var(--clr-secondary);
    background: var(--clr-primary);
    font-size: var(--fz-loading-para);
    gap: 10px
}
footer > p, footer > div {
    margin: 0 20px;
    text-align: center;
}
footer > div {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}
footer > div a {
    margin: 0 10px;
}


/* MEDIA QUERIES */
@media (max-width: 767px) {
    .custom-shape-divider-top-1668883077 svg {
        width: calc(100% + 1.3px);
        height: 100px;
    }
    .about-section article {
        padding: 1.5rem;
    }
}
@media (max-width: 1024px) {
    .custom-shape-divider-top-1668883077 svg {
        width: calc(100% + 1.3px);
        height: 200px;
    }
    footer {
        justify-content: center;
    }
}